.EditUser {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100000000;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;

    form {
      width: 90%;
      margin-top: 1em;
      display: grid;
      gap: 0 2em;
      grid-template-columns: 1fr 1fr;
    }
    label {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
    }
    input,
    select {
      font-size: 1em;
      width: 20em;
      height: 3em;
      padding: 0 0.5em;
      border-radius: 5px;
      border: 1px solid black;
    }
  }
}
