@import "../Vars.scss";

.Header {
  padding: 0.25em;
  background-color: $primary;
  height: 5em;
  display: flex;
  align-items: center;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: flex;

    li {
      margin-left: 2em;
      color: white;
      list-style: none;

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
