@import "../Vars.scss";

.ListUser {
  margin-top: 2em;
  &__buttons {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;

    button {
      margin: 1em;
      box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.7);
      padding: 0.5em 1em;
      border-radius: 15px;
      border: 1px solid transparent;

      &:first-of-type {
        background: $primary;
        color: white;
      }
    }
  }
}
