@import "../Vars.scss";

.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;

  &__container {
    border-radius: 15px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 30vh;

    button {
      height: 3em;
      width: 40%;
      border-radius: 15px;
      border: 1px solid transparent;

      &:hover {
        cursor: pointer;
      }
      &:first-of-type {
        background: $primary;
        color: white;
      }
    }
  }

  &__main {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
  }
}
