.RegisterUser {
  label {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  input,
  select {
    font-size: 1em;
    width: 20em;
    height: 3em;
    padding: 0 0.5em;
    border-radius: 5px;
    border: 1px solid black;
  }

  form {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  button {
    height: 4em;
    margin-top: 2em;
    width: 20em;
    border-radius: 5px;
    border: 1px solid black;
  }

  &__main {
    margin-top: 2em;

    h2 {
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: 768px) {
  .RegisterUser {
    form {
      grid-template-columns: 1fr;
    }
    input,
    select {
      width: 100%;
    }
  }
}
